{% extends 'layouts/base.html.twig' %}

{% block title %}Pinterest!{% endblock %}

{% block body %}
<h1>{{ pluralize(pins|length, 'pin', 'pins') }}</h1>
    
    <article>
        {% for pin in pins %}
            <h1><a href="{{ path('app_pin_show', {'id': pin.id}) }}">{{ pin.title }}</a></h1>
            <p>{{ pin.description | u.truncate(10, '...', false) }}</p>
            <p> Submitted {{pin.createdAt | ago }}</p>
        {% else %}
            <h3>Pas de Pin</h3>
        {% endfor %}
    </article>

{% endblock %}
