{% extends 'layouts/base.html.twig' %}

{% block title %}Pinterest!{% endblock %}

{% block body %}
    {% if pins|length >0 %}
        <h1 class="text-center text-muted">{{ pluralize(pins|length, 'pin', 'pins') }}</h1>
       
        {% for row in pins|batch(3) %}  
        <div class="row mb-5">
            {% for pin in row %}
                <div class="col-md-4 img-index">
                    <article class="bg-white rounded shadow pin">
                        <div class="mw-100 overflow-hidden">
                            <a href="{{ path('app_pin_show', {'id': pin.id}) }} ">
                                <img class="w-100 rounded-top" src="{{ pin.imageName ?  vich_uploader_asset(pin) : asset('build/images/defaut.jpg') | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}">
                            </a>
                        </div>                       
                        <h4><a href="{{ path('app_pin_show', {'id': pin.id}) }}" class="text-muted text-decoration-none">{{ pin.title }}</a></h4>
                        <!-- <p>{{ pin.description | u.truncate(10, '...', false) }}</p> -->
                        <p class="pl-3 pb-3 text-muted"><small>Submitted {{pin.createdAt | ago }}</small> </p>
                    </article>
                </div>
                
            {% endfor %}
        </div>
        {% endfor %}
     {% else %}
            <p class="h1 mt-5 text-center">Pas de pins. <a href="{{ path('app_pin_create') }}">Create Pin</a></p>
    {% endif %}  

{% endblock %}
